.band {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#header img {
    height: 70px;
}

.header-center h1 {
    font-size: 70px;
    line-height: 70px;
}

#content .band {
    width: 90%;
}

#content .columns {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#content .column-1 {
    width: 100%;
    margin-right: 0px;
    padding-bottom: 20px;
}

#content .column-1 p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#content .column-2 {
    width: 100%;
    margin-right: 0px;
    padding-bottom: 20px;
}

#content .column-2 p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#content .column-3 {
    width: 100%;
    margin-right: 0px;
    padding-bottom: 10px;
}

#content .column-3 p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*
.press img {
    width: 100%;
}
*/

.schedule {
    width: 100%;
}

#bulletin .message {
    background-color: #90BD31;
    color: #052049;
    text-align: center;
    width: 100%;
}

#footer .column-1 {
    float: left;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    font-size: 14px;
}

#footer .column-2 {
    float: left;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-size: 14px;
}

#footer .column-3 {
    float: left;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 14px;
}
