.header-icons {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#header .band {
    text-align: center;
}

.header-right {
    padding-left: 30px;
    float: left;
}

#header img {
    height: 60px;
}

.header-center h1 {
    font-size: 60px;
    line-height: 60px;
    clear: both;
}

.band {
    width: 90%;
}

#content .band {
    width: 85%;
}

#content .column-1 p {
    width: 400px;
}

#content .column-2 p {
    width: 400px;
}

#content .column-3 p {
    width: 400px;
}

#content .profile {
    width: 400px;
}

.apply-box {
    padding-left: 16px;
    padding-right: 16px;
    width: 90%;
}

#footer .column-1 {
    float: left;
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
}

#footer .column-2 {
    float: left;
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

#footer .column-3 {
    float: left;
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
}

/*Responsive Navigation Bar*/

#navigation .band {
    width: 100%;
    position: relative;
}

#navigation .band ul li:not(:first-child) {
    display: none;
}

#navigation .band ul li.icon {
    display: block;
    float: right;
}

#navigation li a {
    border: none;
}

#navigation .band ul#responsiveNav.responsive li {
    display: block;
}

#navigation .band ul#responsiveNav.responsive li a {
    float: none;
}

#navigation .band ul#responsiveNav.responsive li.icon {
    position: absolute;
    top: 0;
    right: 0;
}
